# created by virtualenv automatically
bin/
lib/
*.cfg
analis.txt
MaidChan/__pycache__
share
.idx
.vscode
lib64

.env

*.jpg

img_test
MaidChan/test.py
/home/user/Maid-Chan/Seven Chronicles ｜ Rise of Garden
etc
*.mp4

demo.ipynb